
.mg-header{
    /*width: 100%;*/
    /*height: 50px;*/
    /*background-color: #93a1a1;*/
    /*color:white;*/
    /*padding-top:10px;*/
    /*padding-left: 10px;*/
}

.mg-header-grow{
    flex-grow: 1;
}
mg-header-menu-button{
    margin-left: -12px;
    margin-right: 20px;
}
.mg-container{
    padding-top: 16px;
}
.mg-footer{

}
